.bill-preview.bill-container {
	background-color: #eaeaea;
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
	overflow: hidden;
}

.bill-preview .content {
	flex: 1;
	display: flex;
	flex-direction: column;
	overflow-y: auto;
}

.bill-preview .nav {
	background-color: #fff;
	height: 86rpx;
	position: relative;
	flex-shrink: 0;
}

.bill-preview .allOrder {
	position: absolute;
	right: 40upx;
	font-size: 36upx;
	bottom: 20upx;
}

.bill-preview .nav-title {
	position: absolute;
	left: 50%;
	bottom: 10upx;
	transform: translateX(-50%);
	font-size: 36upx;
	line-height: 1;
}

.bill-preview .close {
	padding-left: 20rpx;
	position: relative;
	top: 20rpx;
	transform: scale(0.8);
}

.bill-preview .order {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	background-color: #fff;
	padding: 0 60rpx;
}

.bill-preview .order_top {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.bill-preview .avatar {
	width: 92rpx;
	height: 92rpx;
	overflow: hidden;
	margin-top: 40rpx;
	border-radius: 50%;
}

.bill-preview .avatar image {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.bill-preview .name {
	margin-top: 30rpx;
	font-size: 32rpx;
	text-align: center;
}

.bill-preview .num {
	font-family: 'WeChat Sans Std';
	display: flex;
	align-items: center;
	margin-top: 40rpx;
	font-size: 56rpx;
}

.bill-preview .line {
	margin-top: 88rpx;
	width: 100%;
	height: 1px;
	background-color: #f7f7f7;
	transform: scaleY(.8);
}

.bill-preview .order_info {
	margin-top: 40rpx;
	padding-bottom: 60rpx;
	display: flex;
	flex-direction: column;
}

.bill-preview .item {
	flex: 1;
	display: flex;
	font-size: 28rpx;
	margin-bottom: 20rpx;
}

.bill-preview .left {
	color: #878787;
	width: 170rpx;
}

.bill-preview .right {
	flex: 1;
	word-wrap: break-word;
	overflow-wrap: break-word;
	overflow: auto;
}

.bill-preview .rightIcon {
	display: flex;
	align-items: center;
}

.bill-preview .gthIcon {
	margin-left: 10rpx;
}

.bill-preview .tips {
	margin-top: 12rpx;
	color: #9b9b9b;
	font-size: 26rpx;
}

.bill-preview .barCodeBox {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 40rpx;
}

.bill-preview .codeNo {
	margin-top: 10rpx;
	text-align: center;
	font-size: 30upx;
}

.bill-preview .serivce {
	margin-top: 20rpx;
	background-color: #fff;
	padding: 0 60rpx;
	box-sizing: border-box;
}

.bill-preview .se_title {
	font-size: 26rpx;
	padding-top: 30rpx;
	padding-bottom: 35rpx;
	font-weight: 500;
	box-sizing: border-box;
}

.bill-preview .serivce_line {
	border-top: 1px solid #f7f7f7;
}

.bill-preview .serivce_bx {
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
	margin: 35rpx 0;
	box-sizing: border-box;
	row-gap: 30rpx;
}

.bill-preview .se_item {
	font-size: 26rpx;
	color: #5c6e96;
	width: 50%;
	display: flex;
	align-items: center;
	box-sizing: border-box;
	padding-right: 10rpx;
}

.bill-preview .wticon {
	width: 32rpx;
	height: 32rpx;
	margin-right: 14rpx;
	position: relative;
	top: 6rpx;
}

.bill-preview .startIcon {
	width: 32rpx;
	height: 32rpx;
	margin-right: 12rpx;
	position: relative;
	top: 6rpx;
}

.bill-preview .chatIcon {
	width: 32rpx;
	height: 32rpx;
	margin-right: 14rpx;
	position: relative;
	top: 6rpx;
}

.bill-preview .transferIcon {
	width: 32rpx;
	height: 32rpx;
	margin-right: 14rpx;
	position: relative;
	top: 6rpx;
}

.bill-preview .skIcon {
	width: 36rpx;
	height: 36rpx;
	position: relative;
	top: 4rpx;
	margin-right: 10rpx;
}

.bill-preview .cordIcon {
	width: 30rpx;
	height: 28rpx;
	position: relative;
	top: 4rpx;
	margin-right: 10rpx;
}

.bill-preview .mini {
	flex: 1;
	display: flex;
	font-size: 28rpx;
	margin-top: 20rpx;
	background-color: #fff;
	padding: 30rpx 60rpx;
}

.bill-preview .right_mini {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	flex: 1;
}

.bill-preview .miniapp {
	width: 26rpx;
}

.bill-preview .miniName {
	margin: 0 14rpx;
	color: #878787;
}

.bill-preview .footer {
	width: 100%;
	flex: 1;
	font-size: 24rpx;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	flex-direction: column;
	color: #a2a2a2;
	min-height: 170rpx;
	padding-bottom: 60rpx;
}
